<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xilu.wybz">
    <uses-permission android:name="com.xilu.wybz.permission.JPUSH_MESSAGE" />
    <permission
        android:name="com.xilu.wybz.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />


    <!-- 通用权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC"/>

    <!-- 百度支付额外需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- 获取logcat日志 -->
    <uses-sdk
        android:minSdkVersion="4"
        tools:overrideLibrary="com.umeng.socialize.evernote,com.umeng.socialize.pinterest" />
    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainTabActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BrowserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MianTheme" />

        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/MainTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.SongablumMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MusicTalkMoreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.find.FindActivity"
            android:theme="@style/MainTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.find.MoreWorkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.find.SearchWorksActivity"
            android:screenOrientation="portrait" />


        <!--消息相关界面-->
        <activity
            android:name=".ui.msg.MsgActivity"
            android:theme="@style/MainTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.msg.MsgZambiaActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.msg.MsgCommentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.msg.MsgFavActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.msg.MsgPreserveActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.msg.MsgSystemActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.FollowAndFansActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.UserCenterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.MineActivity"
            android:theme="@style/MainTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.MatchWorkActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.MineWorkActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.mine.OtherUserCenterActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.market.MatchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.market.StarInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.market.StarListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.market.JoinUserListActivity" android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.setting.SettingFeedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.setting.ModifyUserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.setting.OtherAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.AboutMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />


        <activity
            android:name=".ui.manager.ConsoleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.login.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.login.PassWorddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.login.ModifyPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".ui.song.MakeHotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.song.HotCatalogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.song.MakeSongActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.song.ComposeSongActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.song.SaveSongActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.song.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.song.SongAblumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PlayTheme" />
        <activity
            android:name=".ui.song.PlayAudioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PlayTheme" />
        <activity
            android:name=".ui.song.SongTuningActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.record.InspireRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.record.NewSelectPicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.record.ModifyInspireRecordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.lyrics.LyricsdisplayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.lyrics.MakeWordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.lyrics.ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.lyrics.ImportWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.lyrics.MakeCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.lyrics.LyricsPosterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PlayTheme" />
        <activity
            android:name=".ui.lyrics.SharePosterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.lyrics.LyricsTemplateListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.lyrics.MakeWordByTempleateActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.lyrics.DraftLyricsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.lyrics.LyricsRhymeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.lyrics.SaveWordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!--preservation-->

        <activity
            android:name=".ui.preserve.ApplyPreserveActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.preserve.PreservePersonInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.preserve.PreservePersonEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.preserve.PreserveInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.preserve.ProductPreserveListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.preserve.ProductAllActivity"
            android:screenOrientation="portrait"/>


        <!--MainService-->

        <service
            android:name=".service.MainService"
            android:screenOrientation="portrait" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"></activity>
        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105011804" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.xilu.yinchao.music.MusicControllerActivity"
            />

        <!-- Ping++ SDK 注册 -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--支付宝支付-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

        <!-- 微信支付 -->

        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />


        <!--<activity-->
            <!--android:name=".wxapi.WXPayEntryActivity"-->
            <!--android:exported="true"-->
            <!--android:launchMode="singleTop"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"/>-->

        <receiver android:name=".service.helper.HeadSetReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MEDIA_BUTTON"></action>
            </intent-filter>
        </receiver>
        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:theme="@style/MyDialogStyle"
            android:exported="false">
        </activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.xilu.wybz" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>


        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.xilu.wybz" />
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.xilu.wybz" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>
        <receiver
            android:name=".service.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="com.xilu.wybz.intent.CLEARNOTICE" />
                <category android:name="com.xilu.wybz" />
            </intent-filter>
        </receiver>

        <service android:name="com.xilu.yinchao.music.YinchaoMusicService"
            android:exported="false"
            tools:ignore="ExportedService"
            >
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
            <!--android:permission="cn.yinchao.android.music.SERVICE"-->
            <!--android:process="yinchao-player"-->
        </service>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="CHANNEL"
            android:value="${CHANNEL_VALUE}" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56a8610ce0f55afc29001dca" />

        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="f1168f7bdf262938f02024ea1b1acc92" />

        <meta-data android:name="JPUSH_CHANNEL" android:value="yinchao"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="fc0c317f16cfdc18ebcb7180" />
    </application>

</manifest>
